[submodule "src/lib/merkle-nav"]
	path = src/lib/merkle-nav
	url = https://github.com/syc-tech/merkle-nav.git
[submodule "src/lib/omnimesh"]
	path = src/lib/omnimesh
	url = https://github.com/syc-tech/omnimesh.git
