[submodule "src/lib/dag-navvit"]
	path = src/lib/dag-navvit
	url = https://github.com/syc-tech/dag-navvit.git
[submodule "src/lib/omnimesh"]
	path = src/lib/omnimesh
	url = https://github.com/syc-tech/omnimesh.git
